# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\User-01\Desktop\Alfonso\LM\LenguajedeMarcas1-DAM\PuntuablesLM\Tercer Trimestre\pp3tpp2_cs1AGP_09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
